/.vscode
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/imgui.vcxproj
/imgui.vcxproj.filters
/implot3d.vcxproj
/implot3d.vcxproj.filters
/subnettergui.sln
/subnettergui.vcxproj
/subnettergui.vcxproj.filters
/memsafety.vcxproj
/memsafety.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/Makefile
/CMakeFiles
/bin
/build
/imgui.ini
/imgui.dir
/implot3d.dir
/subnettergui.dir
/memsafety.dir
/x64
/ARM64
/.ninja_deps
/.ninja_log
/build.ninja
/cmake-build-debug
/cmake-build-debug-msvc
/cmake-build-minsizerel
/cmake-build-release
/cmake-build-release-msvc
/cmake-build-relwithdebinfo
/.cmake
/.idea
/Testing